<header>
  <div>
    <div *ngIf="false">
      <mat-icon aria-hidden="false" aria-label="menu icon" (click)="drawer.toggle()">view_headline</mat-icon>
    </div>
    <div class="logo">
      <a routerLink="/">
       <span>Store</span>
       <span class="brand-color">Hus</span>
      </a>
    </div>
    <div class="horizontal-space"></div>

      <div class="top-menu-icons">
        <span
          *ngFor="let item of menuItems"><a routerLink="{{item.path}}">{{item.name}}</a></span>
        
        <span>
          <a routerLink="/dashboard"><mat-icon color="#424242" aria-hidden="false" aria-label="account_circle icon">account_circle</mat-icon></a>
        </span>

      </div>
    </div>
</header>


<section id="content-area">
  <mat-drawer-container class="content-area-drawer" [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="mode">
      <div class="sidenav">

        <ul>
          <li (click)="drawer.toggle()"><a routerLink="/">Home</a></li>
          <li (click)="drawer.toggle()"><a routerLink="/course-management">Course Management</a></li>
          <li (click)="drawer.toggle()"><a routerLink="/academic">Academic</a></li>
          <li (click)="drawer.toggle()"><a routerLink="">Evaluation</a></li>
          <li (click)="drawer.toggle()"><a routerLink="/staff">Staff</a></li>
          <li (click)="drawer.toggle()"><a routerLink="">Students</a></li>
        </ul>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>

</section>

<footer>
  <div>
    <div>
      Copyright &copy; 2022 Boyong Lab. All rights reserved.
    </div>
  </div>
</footer>
